/**
 * Copyright 2013-2018 butor.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
	overflow: auto;
	padding-top: 70px;
}
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
	.navbar-fixed-top {
		margin-bottom: 5px;
	}
	body {
		padding-top: 0px;
	}
}
.backToTopLink {
	right: 18px;
	top: 5px;
	bottom: inherit; /* just to cancel original css value */
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
}

#_header {
	x-margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 0px;
}

/* SSO */

#_brand {
	cursor: pointer;
	font-weight: bold;
}
.form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-setQRs, .form-signInS2 {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}
.form-login-heading,
.form .checkbox {
  margin-bottom: 10px;
}
.form .checkbox {
  font-weight: normal;
}
.form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form .form-control:focus {
  z-index: 2;
}
.form-signIn input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signIn input[type="password"] {
  XXXmargin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#renewKaptcha {
	position: absolute;
	right: 0px;
	top: 0px;
}
#kaptchaImg {
  margin-bottom: -1px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 300px;
}
#kaptcha {
  margin-bottom: 10px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 300px;
  font-size: 90%;
}