<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="badToken">
	<div class="form form-resetPwd">
		<h2 class="form-login-heading"><i class="fa fa-ambulance"></i> <span class="bundle">Bad request</span></h2>
	</div>
</div>
