<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="manageApiKey">
	<br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<button class="btn btn-primary bundle" id="generateBtn">Generate new API key</button>
			<button class="btn btn-danger bundle" id="removeBtn">Delete API key</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<div class="well well-sm">
				<span id="key"></span>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<button class="btn btn-default bundle" id="cancelBtn">Back</button>
		</div>
	</div>
</div>