<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="register">
	<div class="form form-register">
		<h2 class="form-signin-heading bundle">Register</h2>
		<div class="form-group">
			<label class="control-label bundle" for="email">ID or Email</label>
				<input class="form-control" id="email" value="" type="text">
		</div>
		<div class="form-group">
			<label class="control-label bundle" for="firstName">First name</label>
				<input class="form-control" id="firstName" value="" type="text">
		</div>
		<div class="form-group">
			<label class="control-label bundle" for="lastName">Last name</label>
				<input class="form-control" id="lastName" value="" type="text">
		</div>
		<div class="form-group" style="position: relative;">
			<a class="btn btn-xs btn-default" id="renewKaptcha"><i class="fa fa-refresh"></i></a>
			<img src="" id="kaptchaImg" class="btn btn-default" style="padding:0px;margin:0px;">
			<input class="form-control" id="kaptcha" value="" type="text" placeholder="Type the text you see in the image">
		</div>
		<div class="form-group align-right">
			<a class="btn btn-default bundle" id="cancelBtn">Cancel</a>
			<a class="btn btn-primary bundle" id="registerBtn">Register</a>
		</div>
	</div>
</div>
